{#
/**
 * @file import_state.html.twig
 * Default theme implementation to present Import state data.
 *
 * This template is used when viewing Import state pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_import_state()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('import_state') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
